<div class = container>
    <div class = "title">
            <h1> Otis Milliken </h1>
    </div>
    <div class = "italicized center">
        <p>• Middlebury College 2024 • Dupont Manual Highschool • Computer Enthusiast • Based in Park City, Utah •</p>
    </div>
</div>

<div class="slideshow-container">

    <div class="mySlides">
        <div class="numbertext">1 / 5</div>
        <%= video_tag "Snake.mp4", :controls => true, :autoplay => true, alt: "Snake Game in Java",class: "video" %>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>

    <div class="mySlides">
         <div class="numbertext">2 / 5</div>
        <%= video_tag "LearningDevise.mp4", :controls => true, alt: "Devise signup page", class: "video" %>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>

     <div class="mySlides">
         <div class="numbertext">3 / 5</div>
        <%= video_tag "privateevent2.mp4", :controls => true, alt: "A event planner website",class: "video" %>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
     <div class="mySlides">
         <div class="numbertext">4 / 5</div>
        <%= image_tag "Mergesort.png", class: "video", alt: "mergesort coded in java" %>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
     <div class="mySlides">
         <div class="numbertext">5 / 5</div>
        <%= image_tag "Quicksort.png", class: "video", alt: "quicksort coded in java" %>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>

    <div class = "project-information">
        <h3 style="text-align: center">Project Information</h3>
        <p id = "information"></p>
        <%= link_to 'https://github.com/Hokalaka2', target: "_blank", class: "github" do %> Github Projects: <i class="fa fa-github" aria-hidden="true"></i> <%end%>
    </div>
    
</div>

<%= render "mission"%>
<%= render "resume"%>
<%= render "contacts/contactform" %>

<script>
    var slideIndex = 1;
showSlides(slideIndex);

// switching slides
function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");

  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}

  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  slides[slideIndex-1].style.display = "flex";
  showText(slideIndex-1);
  
}

function showText(n){
    var setInfo = document.getElementById("information");
    var infoSlide = [
                    "A snake game created in Java with JavaFX. <br /> Displays knowledge of OOP principles and working with ActionEvents. Main difficulties were grow function of snake and setting loss condition. 2019 1/5",
                    "A simple sign up blog website as a way to get comfortable with Devise gem. Showcases ability to read documentation and use different gems. 2020 2/5",
                    "A simple event planner activity in order to get comfortable with Active Record and many_to_many relationships especially using through:. Coded in a way to also use source and custom names of relationships. Will apply css when I have time. 2020 3/5",
                    "A merge sort algorithm implemented in Java after watching Abdul Bari algorithm series. Showcases knowledge of different algorithms 2019 4/5",
                    "A quick sort algorithm implemented in Java after watching Abdul Bari algorithm series. Showcases knowledge of different algorithms 2019 5/5"
                  ];
    document.getElementById("information").innerHTML = infoSlide[n];
}
</script>